---
import RoleSwitch from "@/components/RoleSwitch.astro";
import ThemeSwitch from "@/components/ThemeSwitch.astro";
import LanguageSwitch from "@/components/LanguageSwitch.astro";
---

<div class="no-print fixed right-4 top-4 z-50 flex items-center gap-2 sm:hidden">
	<RoleSwitch />
	<LanguageSwitch />
	<ThemeSwitch />
</div>

<div class="no-print fixed left-1/2 top-6 z-50 hidden -translate-x-1/2 sm:block">
	<RoleSwitch />
</div>

<div class="no-print fixed right-6 top-6 z-50 hidden items-center gap-2 sm:flex">
	<LanguageSwitch />
	<ThemeSwitch />
</div>
